* {
    scrollbar-color: #202324 #454a4d;
    border-color: #736b5e;
}

html {
    -webkit-tap-highlight-color: transparent
}

body {
    background-color: rgb(24, 26, 27);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(209, 205, 199);
}

.html, body, input, textarea, select, button, thead, tbody  {
    border-color: #736b5e !important;
    color: rgb(209, 205, 199);
}

.tableHover:hover{
    background-color:#161819;
}

.modal-content {
    background-color:#161819 !important;   
}

.form-control {
    background-color: rgb(24, 26, 27) !important;
    color: rgb(181, 175, 166) !important;
}

.modal {
    outline-color: initial;
}

.title {
    margin-top: 45px;
}

.title h3 {
    /* font-size: 23px; */
    font-weight: 375 !important;
}

tr {
    height: 5px !important;
    margin: 0 !important;
    padding: 0 !important;
}

thead tr th {
    padding: 9px !important;
}

.contentContainer {
    margin-left: 150px;
    margin-right: 150px;
}

.navCol {
    width: 250px !important;
}

hr {
    border-color: #fff;
}