<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">

    <title>Hello, world!</title>
</head>

<body>


    <div class="modal" tabindex="-1" id="exampleModal" style="height: auto;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Vehicle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <label for="">Vehicle</label>
                            <input type="text" name="" id="" class="form-control" required><br>

                            <label for="">Owner</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select name="" id="" class="form-control">
                                        <option value="">Great Plains Modding#0001</option>
                                        <option value="">ChevyNerd#0001</option>
                                        <option value="">Bek#0001</option>
                                    </select>
                                </div>
                            </div><br>

                            <label for="">Access Given</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select name="" id="" class="form-control" multiple style="height: 150px;">
                                        <option value="">Great Plains Modding#0001</option>
                                        <option value="">ChevyNerd#0001</option>
                                        <option value="">Bek#0001</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Add Vehicle</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="editVehicle" style="height: auto;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Existing Vehicle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <label for="">Vehicle</label>
                            <input type="text" name="" id="" class="form-control" value="mmaxdw" required><br>

                            <label for="">Owner</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select name="" id="" class="form-control">
                                        <option value="">Great Plains Modding#0001</option>
                                        <option value="" selected>ChevyNerd#0001</option>
                                        <option value="">Bek#0001</option>
                                    </select>
                                </div>
                            </div><br>

                            <label for="">Access Given</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <select name="" id="" class="form-control" multiple style="height: 150px;">
                                        <option value="">Great Plains Modding#0001</option>
                                        <option value="" selected>ChevyNerd#0001</option>
                                        <option value="">Bek#0001</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Edit Vehicle</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div style="padding-top: 75px;">
            <h3>Blaine County Country RP ~ Vehicle Blacklist</h3>
            <hr>
        </div>

        <div class="content">
            <!-- <div class="table"> -->
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Vehicle</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Access Given</th>
                            <th scope="col">Date Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-bs-toggle="modal" data-bs-target="#editVehicle">
                            <th scope="row">1</th>
                            <th scope="">mmaxdw</th>
                            <th>Great Plains Modding#0001</th>
                            <th>Bec#6969, Dill#0420, ChevyNerd#0001</th>
                            <th>12/8/2020</th>
                        </tr>
                        <tr data-bs-toggle="modal" data-bs-target="#editVehicle">
                            <th scope="row">2</th>
                            <th>imDumb</th>
                            <th>Bek#0001</th>
                            <th>ChevyNerd#0001</th>
                            <th>12/8/2020</th>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Vehicle</button>
                </div>
            <!-- </div> -->
        </div>
    </div>

    
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</body>

</html>